body {
    background-color: rgb(75, 40, 40);
    display: flex;
    justify-content: center;
}

.box1 {
    background-color: rgba(222, 184, 135, 0.76);
    width: 85%;
    height: 100%;
    padding: 15%;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.pictures {
    justify-content: center;
}