body {
    background-color: rgb(75, 40, 40);
    display: flex;
    justify-content: center;
}

.box1 {
    background-color: rgba(222, 184, 135, 0.76);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
    padding: 2.5%;
    font-size: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.pictures {
    justify-content: center;
}